			body {
				background-color: #77f3cb;
				font-family: Arial;
				width: 25%;
				margin-left: auto;
				margin-right: auto;
			}

			h1 {
				color: black;
				text-align: center;
			}

			h4 {
				color: black;
			}
