* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-weight: bold;
  background-color: #317109;
}

.bloco {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  list-style: none;
}

.botao {
  padding: 5pt 58pt;
  text-align: center;
  font-weight: bold;
  background-color: #829479;
}

.caixaTexto {
  padding: 5pt;
  width: 200px;
}